
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.first-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 110px;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left-link-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.right-link-text {
    color: #e5e7eb;
    font-size: 18px;
  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 120px 0;
}

.sub-container {
    width: 450px; 
}

.sample-img {
    width: 600px;
    height: 250px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
}

.signup-button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 9px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 42px 0;
}
.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.item-container {
    display: flex;
    text-align: center;
    gap: 72px;
    margin: 42px 0;
}

.item {
    max-width: 170px;
}

.text {
    font-size: 18px;
}

.info-img {
    border-style: solid;
    color: #394b64;
    border-width: 5px;
    border-radius: 16px;
    width: 170px;
    height: 170px;
}

